<div class="fh-breadcrumb" style="height: calc(100% - 196px + 60.8px);">
    <div class="full-height">
        <div class="full-height-scroll white-bg border-left" style="padding-top: 15px;" full-scroll>
            <form method="get" class="form-horizontal" novalidate>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">部门代码：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.departId"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">部门名称：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.departName"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">部门全称：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.departFullName"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">上级部门：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">最高查看部门：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">负责人：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">联系人：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">联系电话：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">地址：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">备注：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">test：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">test：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">test：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">test：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">test：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">test：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">test：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">test：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">test：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
                <div class="form-group" style="margin-bottom: 0;"><label
                        class="col-sm-2 control-label">test：</label>
                    <div class="col-sm-10"><label class="col-sm-2 form-control no-borders"
                                                  ng-bind="data.parentDepart"></label></div>
                </div>
            </form>
        </div>
    </div>
</div>