<style type="text/css">
	#selectModal{
		width: 100%;
		line-height: 25px;
		border-radius: 5px;
		border:1px solid #dee5e9;
		cursor: pointer;
		padding: 0 3px 3px;
		background: #fff;
		overflow: hidden;
		min-height: 25px;
	}
	#selectModal.action{
		border:1px solid #4293ee;
	}
	#selectModal:after{
		position: absolute;
		display: block;
		width: 0;
		content:'';
		height: 0;
		right:10px;
		top:10px;
		border:5px solid transparent;
		border-top:5px solid #000;
	}
	#dateModal{
		width: 100%;
		overflow: hidden;
		border-radius:5px;
		z-index:9999;
		box-shadow: 0 0 5px #ccc;
		position: absolute;
		left: 0;
		top: 100%;
		background: #fff;
	}
	#dateModal .yearPicker{
		width: 100%;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
		border-bottom: 1px solid #dee5e9;
		padding: 0 10px;
		cursor: pointer;
	}
	#dateModal .monthPicker{
		width: 100%;
		height: 180px;
		overflow-y: auto;
	}
	.monthPicker .monthList{
		width: 100%;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
		padding: 0 10px;
		cursor: pointer;
	}
	.yearPicker img,.monthList img{
		width: 14px;
		height: 14px;
		margin: 8px;
	}
	.yearPicker:hover,.monthList:hover{
		background: #ecf5fb
	}
	.showMonthBox{
		display: inline-block;
		background:#e8ecf1;
		border-radius: 3px;
		height: 17px;
		line-height: 17px;
		padding: 0 10px;
		float: left;
		text-align: center;
		margin-top: 3px;
		margin-right: 2px;
	}
	.showMonthBox img{
		width: 10px;
		height: 10px;
		margin-left: 7px;
	}
	.monthDisabled{
		cursor: not-allowed !important;
		background: #eee;
	}
	.monthDisabled:hover{
		background: #eee;
	}


</style>
<div id="selectModal" ng-class="{action:showSelect}" ng-click="toggleSelect($event);">
	<div class="showMonthBox" ng-show="month.checked" ng-repeat="month in monthArray track by $index">{{month.name}}<img src="views/forbid/img/close.png" ng-click="removeMonth(month,$event)"></div>
</div>
<div id="dateModal" ng-show="showSelect">
	<div class="yearPicker" ng-click="selectYear($event);">
		<img src="views/forbid/img/check_un.png" ng-hide="allChecked">
		<img src="views/forbid/img/check_do.png" ng-show="allChecked">
		全年
	</div>
	<div class="monthPicker">
		<div class="monthList"  ng-repeat="month in monthArray track by $index"  ng-class="{monthDisabled:month.disabled}" ng-click="selectMonth(month,$event);">
			<img src="views/forbid/img/check_un.png" ng-hide="month.checked">
			<img src="views/forbid/img/check_do.png" ng-show="month.checked">
			{{month.name}}
		</div>
	</div>
	
</div>