<div class="full-width full-height dialog_bg">
	
</div>
<div class="dialog">
	<div class="dialog_head">
		修改密码<span class="fr" ng-click="cancel();">X</span>
	</div>
	<ul class="w100 content_pd">
		<li class="input_group w100">
			<label class="fl">当前登陆密码</label>
			<input class="fl" placeholder="请输入当前登陆密码" id="accountCode" type="password" ng-model="params.oldPassword">
		</li>
		<li class="input_group w100">
			<label class="fl" for="">输入新密码</label>
			<input class="fl" placeholder="请输入4位以上的数字、字母或常用字符密码" ng-model="params.newPassword" type="password">
		</li>
		<li class="input_group w100 input_control">
			<label class="fl" for="">确认新密码</label>
			<input class="fl" placeholder="请再次输入密码" ng-model="newPassword2" type="password">
		</li>

		<div class="w100">
			<a ng-click="cancel();" class="fr">取消</a>
			<a ng-click="ok();" class="active fr">确认</a>
		</div>
	</ul>
</div>
<style>
.dialog input{
	width: 70%;
	border-radius: 3px;
}
</style>