<div class="full-height">
    <div class="w100 header">
        <span class="in-title">角色管理</span>
        <i class="icon-ask"></i>

        <a class="addBtn fr" ng-click="openNew()" actionbtn action='manager.role.create'>
            <i class="glyphicon glyphicon-plus"></i> 新增角色
        </a>
        
    </div>
    <form role="form" class="form-inline">
        <div class="advSearch">
            <div class="search_input fl">
                <input type="text" class=" noBorder" id='search' ng-model="keyWord" placeholder="请输入角色名称">
                <img src="/img/management/search.png" ng-click="refreshTable();" style="cursor: pointer;">
            </div>

            <button type="button" class="btn btn-default fr" tooltip-placement="left" ng-click="openColumnDef()" uib-tooltip="自定义列表项" style="color:#747F8C">
                <i class="glyphicon glyphicon-cog"></i>
            </button>
            <div style="clear: both;"></div>
        </div>

    </form>
    <div class="content_bar content_pd">
        <div class="w100 content animated fadeInRight">  
                    <!-- query form-->
            
            <div class="row">
                <!-- data table -->
                 <table datatable="" dt-instance="dtInstance" dt-options="dtOptions" dt-columns="dtColumns" class="table table-hover">
                </table>
            </div>
        </div>
    </div>
</div>

        <div class="big_nav_width btnbar">
                <span class="checkallDelete fl">
                    <input type="checkbox" ng-model="allSelected" ng-click="toggleAll()"/>
                </span>
                <a class="allDelete fl" ng-click="deleteRows()" ng-class="{disabled:selectedCount()<=0}" actionbtn action='manager.role.delete'>
                    删除
                </a>
                <div pager dt-instance="dtInstance" />
            </div>

<div ng-include="'views/framework/role_detail.html'"></div>

<div ng-include="'views/framework/role_account_detail.html'"></div>