<div class="row detailPop full-height" ng-class="{aniIn:popShow}" ng-show="popShow">
    <div class="detail_content">
        <div class="detail_head_action">
        	<div class="fr optionsBtns">
        		<a class="text-primary" ng-hide="feedbackOpen || detail.status=='待综评'" ng-click="doNoQuestion()">无异议</a>
        		<a class="text-primary" ng-hide="feedbackOpen || detail.status=='待综评'" ng-click="openFeedBack()">问题反馈</a>
        		<a class="text-primary" ng-show="feedbackOpen && detail.status!='待综评'" ng-click="closeFeedBack()">取消</a>
        		<a class="text-primary" ng-show="feedbackOpen && detail.status!='待综评'" ng-click="feedback()">确认</a>
        		<a class="text-primary" ng-show="detail.status=='待综评'" ng-click="openApprove('RENTERNED')">退回</a>
        		<a class="text-primary" ng-show="detail.status=='待综评'" ng-click="openApprove('IN_REVIEW')">转交</a>
        		<a class="text-primary" ng-show="detail.status=='待综评'" ng-click="openApprove('TO_PRINT')">同意</a>
        	</div>
        	<img src="./img/management/icon_close.png" alt="关闭" ng-click="closePop();" class="btn">
        </div>
        <div class="w100" style="height: calc(100% - 98px);overflow-y: auto;">
	        <div class="w100 container">
	        	<div class="row" id="progress">
	        		<p class="d-header">
	        			<span class="fr">
	        				已停留 {{detail.residenceTime}}
	        			</span>
	        			<span>{{detail.statusUpdateTime}}</span>
	        			<span><img class="deptImg" src="views/forbid/img/Location.png">{{detail.reviewDeptName}}</span>
	        			<strong style="color: #4293ee">【{{detail.status}}】</strong>
	        		</p>
	        		<div class="workProgress">
	        			<div class="w100" ng-repeat="item in progressDate track by $index">
	        				<div class="timeBox fl">{{item.reviewTime}}</div>
	        				<div class="contentBox  fl" ng-class="{firstItem:$index==0}">
	        					<div class="w100">
	        						<span style="width: 150px; display: inline-block;">{{item.reviewDeptName}}</span>
	        						<b>【{{reviewStatus[item.reviewStatus]}}】</b></div>
		        					<div class="adviceBox" ng-show="item.reviewNotice!=undefined">
		        						{{item.reviewNotice}}
		        					</div>
	        				</div>
	        			</div>
	        			<div class="w100">
	        				<div class="timeBox fl">{{detail.createTime}}</div>
	        				<div class="contentBox fl" style="padding-bottom: 0;" ng-class="{firstItem:progressDate==undefined}">
	        					<div class="w100">
	        						<span style="width: 150px; display: inline-block;">{{detail.createAccountName}}</span>
	        						<b>【受理事件】</b>
	        					</div>
	        				</div>
	        			</div>
	        		</div>
	        	</div>
	        	<div class="row">
        			<div class="col-md-6">
		        		<div class="form-group">
							<label>通行证类型</label>
							<span>长期通行证</span>
						</div>
					</div>
					<div class="col-md-6">
		        		<div class="form-group">
							<label>号牌号码</label>
							<span>{{detail.plate}}</span>
						</div>
					</div>
					<div class="col-md-6">
		        		<div class="form-group">
							<label>重点车辆类型</label>
							<span>{{detail.forbidTypeId }}</span>
						</div>
					</div>
					<div class="col-md-6">
		        		<div class="form-group">
							<label>号牌颜色</label>
							<span>{{detail.plateColorId }}</span>
						</div>
					</div>
					<div class="col-md-6">
		        		<div class="form-group">
							<label>挂车号牌</label>
							<span>{{detail.backPlate }}</span>
						</div>
					</div>
					<div class="col-md-6">
		        		<div class="form-group">
							<label>号牌种类</label>
							<span>{{detail.plateType }}</span>
						</div>
					</div>
					<div class="col-md-6">
		        		<div class="form-group">
							<label>联系人</label>
							<span>{{detail.contact}}</span>
						</div>
					</div>
					<div class="col-md-6">
		        		<div class="form-group">
							<label>所有人</label>
							<span>{{detail.owner }}</span>
						</div>
					</div>
					<div class="col-md-12">
		        		<div class="form-group">
							<label>联系电话</label>
							<span>{{detail.phoneNumber }}</span>
						</div>
					</div>
					<div class="col-md-12">
		        		<div class="form-group">
							<label>行驶证住址</label>
							<span>{{detail.address }}</span>
						</div>
					</div>
					<div class="col-md-6">
		        		<div class="form-group">
							<label>开始日期</label>
							<span ng-hide="detail.status=='待综评'">{{detail.beginDate }}</span>
							<input ng-show="detail.status=='待综评'" type="date" ng-model="myBeginDate" class="dateSinglePicker">
						</div>
					</div>
					<div class="col-md-6">
		        		<div class="form-group">
							<label>结束日期</label>
							<span ng-hide="detail.status=='待综评'">{{detail.endDate }}</span>
							<input ng-show="detail.status=='待综评'" type="date" ng-model="myEndDate" class="dateSinglePicker">
						</div>
					</div>
	        		<div class="col-md-12">
		        		<div class="form-group">
							<label>通行时段</label>
							<span>{{detail.passTimeRangeValue | passTimeRange }}</span>
							<span ng-show="detail.status=='待综评'" class="changeBtn" ng-click="showTimerange=true">修改</span>
							<span ng-show="detail.status=='待综评'" class="changeBtn" ng-click="showTimerange=false">取消</span>
							<span ng-show="detail.status=='待综评'" class="changeBtn" ng-click="showTimerange=true">确认</span>
						</div>
					</div>
					<div class="col-md-12 gray-bg" ng-show="showTimerange" style="padding-top: 15px;margin-bottom: 15px">
						<pass-time-range type="longPass" pass-period-data="passPeriodData"></pass-time-range>
					</div>
					<div class="col-md-12">
		        		<div class="form-group">
							<label>附件</label>
							<div class="attach">
								<div ng-repeat="item in detail.cardPicRelationList">
									<img ng-src="{{item.picUrl}}"/>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
		        		<div class="form-group">
							<label>出发地</label>
							<span>{{detail.passAreaList[0].srcName}}</span>
						</div>
					</div>
					<div class="col-md-12">
		        		<div class="form-group">
							<label>目的地</label>
							<span>{{detail.passAreaList[0].destName}}</span>
						</div>
					</div>
					<div class="col-md-12" ng-repeat="item in detail.passAreaList track by $index">
		        		<div class="form-group">
							<label>通行范围</label>
							<span>{{item.areaRange}}</span>
							<span class="adviceBtn" ng-show="feedbackOpen" ng-click="addAdvice($index)">添加意见</span>
						</div>
						<input class="adviceArea fr" type="text" ng-show="indexNum==$index"  placeholder="请输入意见反馈" >
					</div>
				</div>
	        </div>
	        <div id="map" style="width: 100%;height: 200px;border: 1px solid #eee;">
	        	
	        </div>
        </div>
        <div class="detail_bottom w100 content_pd">
        	<div class="row">
        		<div class="col-md-8">
	        		<div class="form-group">
						<label>申请日期</label>
						<span>{{detail.createTime}}</span>
					</div>
				</div>
				<div class="col-md-4">
	        		<div class="form-group">
						<label>数据来源</label>
						<span>{{detail.accessType}}</span>
					</div>
				</div>
        	</div>
        </div>
    </div>
</div>