<div class="dialog ss-dialog w100">
    <div class="dialog_head">
        选择班次<span class="fr" ng-click="cancel();">X</span>
    </div>

    <div style="padding: 0 8px;max-height:280px;overflow:auto;">
        <table class="ss-table">
            <thead>
                <tr>
                    <th style="width: 30px;"></th>
                    <th style="width: 100px;">班次</th>
                    <th>考勤时间</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="classItem in classList track by $index" ng-click="checkClassItem(classItem)">
                    <td style="text-align: center;padding-top: 6px;">
                        <input type="checkbox" ng-value="classItem.dutyClassId" ng-click="checkClassItem(classItem)" name="classCheckbox" ng-model="classItem.checked">
                    </td>
                    <td>
                        {{classItem.dutyClassName}}
                    </td>
                    <td>
                        <span style="margin-right: 5px;" ng-repeat="timeItem in classItem.timeRangeList">
                            {{timeItem.timeString}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="w100" style="border-top: 1px solid #d5dae1">
        <a ng-click="cancel();" class="fr">取消</a>
        <a ng-click="ok();" class="active fr">确认</a>
    </div>
</div>